@import url('fonts.css');
/*font-family: "OpenSansLight";
font-family: "OpenSans";
font-family: 'Merriweather Heavy Italic';
font-family: "OpenSansBold";*/
* {
  font-size: 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

/*------Header-styles------*/

header {
  background: url("../img/header_bg.png") 50% no-repeat;
  height: 940px;
}

.header-logo {
  padding-top: 55px;
}

.header-logo img {
  vertical-align: middle;
}
.logo {
  font-size: 20.8px;
  font-family: 'Merriweather Heavy Italic';
  color: #fff;
}

.header-content {
  margin-top: 400px;
}

.header-content-picture {
  font-family: "OpenSansLight";
  font-size: 60px;
  color: #fff;
  margin-bottom: 10px;
}
.header-content-main {
  width: 450px;
  font-family: "OpenSans";
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  padding: 10px 0;
}

/*------Header-styles-end------*/

/*-----Begin-new-styles------*/
.begin-new {
  height: 1625px;
}

.left,
.rigth {
  display: inline-block;
  width: 555px;
  margin-top: 115px;
  position: relative;
}

.rigth {
  margin-left: 15px;
  top: -40px;
  left: 0;
}

.left {
  margin-right: 15px;
}

.begin-new h2 {
  font-family: "OpenSansLight";
  font-size: 35px;
  color: #222626;
}

.begin-new-content p {
  font-family: "OpenSans";
  font-size: 14px;
  color: #959595;
  padding-top: 35px;
  line-height: 24px;
}
.slide {
  position: absolute;
  top: -925px;
  left: 0;
  z-index: 2;
}

.second-content {
  margin: 90px 0;
  height: 555px;
}

.row-article {
  height: 50%;
  font-size: 0;
}

.row-article li {
  display: inline-block;
  width: 390px;
  height: 100%;
}

.row-article li h3 {
  font-family: "OpenSansLight";
  font-size: 30px;
  color: #fff;
}
.row-article li p {
  font-family: "OpenSans";
  font-size: 15px;
  color: #fff;
  line-height: 24px;
  width: 318px;
  margin: 35px 0 45px;
}
.row-article li a {
  font-family: "OpenSansBold";
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.row-article li a:hover {
  text-decoration: underline;
}

.row-article li a:after {
  content: "→";
  margin: 10px;
}

.article-content {
  margin: 40px;
}
.first-article {
  background-color: #f5989d;
}

.second-article {
  background-color: #615f7d;
}

.third-article {
  background-image: url("../img/third-article_bg.png");
}

li.fourth-article {
  background-image: url("../img/fourth-article_bg.png");
  width: 780px;
  position: relative;
  top: -24px;
}

li.fourth-article p {
  width: 480px;
}

li.fourth-article a {
  position: relative;
  top: 25px;
}
li.third-article {
  position: relative;
}

.fifth-article {
  background-color: #82ca9c;
}

.like {
  font-size: 24px;
  color: #fff;
  position: absolute;
  bottom: 25px;
  right: 40px;
}
