@import url('fonts.css');
/*font-family: "OpenSansLight";
font-family: "OpenSans";
font-family: 'Merriweather Heavy Italic';
font-family: "OpenSansBold";
font-family: 'OpenSansSemibold';
font-family: "OpenSansExtrabold";*/
* {
  font-size: 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

/*------Header-styles------*/

header {
  background: url("../img/header_bg.png") 50% no-repeat;
  height: 940px;
}

.header-logo {
  padding-top: 55px;
}

.header-logo img {
  vertical-align: middle;
}
.logo {
  font-size: 20.8px;
  font-family: 'Merriweather Heavy Italic';
  color: #fff;
}

.header-content {
  margin-top: 400px;
}

.header-content-picture {
  font-family: "OpenSansLight";
  font-size: 60px;
  color: #fff;
  margin-bottom: 10px;
}
.header-content-main {
  width: 450px;
  font-family: "OpenSans";
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  padding: 10px 0;
}

/*------Header-styles-end------*/

/*-----Begin-new-styles------*/
.begin-new {
  height: 1625px;
}

.left,
.right {
  display: inline-block;
  width: 555px;
  margin-top: 115px;
  position: relative;
}

.right {
  margin-left: 15px;
  top: -40px;
  left: 0;
}

.left {
  margin-right: 15px;
}

.begin-new h2 {
  font-family: "OpenSansLight";
  font-size: 35px;
  color: #222626;
}

.begin-new-content p {
  font-family: "OpenSans";
  font-size: 14px;
  color: #959595;
  padding-top: 35px;
  line-height: 24px;
}
.slide {
  position: absolute;
  top: -925px;
  left: 0;
  z-index: 2;
}

.second-content {
  margin: 90px 0 100px;
  height: 555px;
}

.row-article {
  height: 50%;
  font-size: 0;
}

.row-article li {
  display: inline-block;
  width: 390px;
  height: 100%;
}

.row-article li h3 {
  font-family: "OpenSansLight";
  font-size: 30px;
  color: #fff;
}
.row-article li p {
  font-family: "OpenSans";
  font-size: 15px;
  color: #fff;
  line-height: 24px;
  width: 318px;
  margin: 35px 0 45px;
}
.row-article li a {
  font-family: "OpenSansBold";
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.row-article li a:hover {
  text-decoration: underline;
}

.row-article li a:after {
  content: "→";
  margin: 10px;
}

.article-content {
  margin: 40px;
}
.first-article {
  background-color: #f5989d;
}

.second-article {
  background-color: #615f7d;
}

.third-article {
  background-image: url("../img/third-article_bg.png");
}

li.fourth-article {
  background-image: url("../img/fourth-article_bg.png");
  width: 780px;
  position: relative;
  top: -24px;
}

li.fourth-article p {
  width: 480px;
}

li.fourth-article a {
  position: relative;
  top: 25px;
}
li.third-article {
  position: relative;
}

.fifth-article {
  background-color: #82ca9c;
}

.like {
  font-size: 24px;
  color: #fff;
  position: absolute;
  bottom: 25px;
  right: 40px;
}

.third-content {
  margin-bottom: 160px;
}

.third-content-header {
  font-family: "OpenSansLight";
  font-size: 35px;
  color: #222626;
  margin-bottom: 70px;
}

.column {
  display: inline-block;
  width: 267px;
  margin-right: 30px;
}
.column:last-child {
  margin-right: 0;
}
.column-header {
  font-family: 'OpenSansSemibold';
  font-size: 14px;
  color: #67676d;
  margin-bottom: 30px;
}

.column-content {
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 24px;
  color: #959595;
}
/*------Begin-new-styles-end------*/

/*-----Article-pixel-styles------*/

.pixel {
  height: 870px;
  background: url("../img/pixel_bg.jpg") 50% no-repeat;;
}

.pixel h2 {
  font-family: "OpenSansLight";
  font-size: 60px;
  color: #fff;
  width: 520px;
  padding-top: 460px;
  padding-bottom: 45px;
}

.pixel p {
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 500px;
  margin-bottom: 30px;
}

.pixel a {
  font-family: "OpenSansBold";
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.pixel a:hover {
  text-decoration: underline;
}

.pixel a:after {
  content: "→";
  margin: 10px;
}

/*------Article-pixel-styles-end------*/

/*-----Reasons-styles------*/

.reasons {
  height: 535px;
  background-color: #82ca9c;
}

.main-header-reasons {
  padding-top: 135px;
  padding-bottom: 65px;
  font-family: "OpenSansLight";
  font-size: 35px;
  color: #fff;
}

.column-reasons {
  width: 367px;
}

.reasons h3,
.reasons p {
  color: #fff;
}


/*------Reasons-styles-end------*/

/*-----Buy-styles------*/

.buy {
  height: 625px;
  background-color: #f6f7fa;
}
.buy .right {
  position: static;
  margin-top: 70px;
}

.legasy {
  width: 375px;
}

.teg {
  font-family: "OpenSansExtrabold";
  font-size: 11px;
  color: #fff;
  width: 80px;
  height: 27px;
  background-color: #e1e1e1;
  border-radius: 7px;
  text-align: center;
  line-height: 27px;
  text-transform: uppercase;
}

.header-buy {
  padding: 25px 0 30px;
  font-family: "OpenSansLight";
  font-size: 30px;
  color: #2e3b4e;
}

.buy-content {
  font-family: 'OpenSans';
  font-size: 14.7px;
  line-height: 24px;
  color: #8297a7;
  margin-bottom: 30px;
}

.button-buy {
  display: block;
  width: 155px;
  height: 35px;
  background-color: #82ca9c;
  font-family: "OpenSansBold";
  font-size: 13px;
  color: #fff;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button-buy:hover {
  background-color: #91caa5;
  box-shadow: 1px 2px 3px #bdbdbd;
}
.icons {
  position: relative;
}

.windows {
  position: absolute;
  bottom: 0;
  left: 35px;
}
.most-popular {
  width: 515px;
  height: 370px;
  padding-top: 45px;
  padding-left: 55px;
  background-color: #fff;
  box-shadow: 2px 2px 80px #ebecef;
}
.teg-most-popular {
  width: 110px;
  background-color: #bd8cbf;
}

.content-most-popular {
  width: 385px;
}
